
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://www.indiewire.com/wp-content/uploads/2018/07/breakingbadformon_wide-22d0f0aa716956d518b391936d3bc323dd7a3848-s900-c85.jpg?w=780')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Walter</h2>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.newrepublic.com/a45682cb63e916b4b0fbcc82573f14a499d5a042.jpeg?w=1200&q=65&dpi=2.625&fm=pjpg&h=496')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Charlie</h2>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://static2.cbrimages.com/wordpress/wp-content/uploads/2018/12/death-note-L.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Micah</h2>
        </div>
      </div>
      <!-- Slide Four - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://i.imgur.com/sorr0C7.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Erick</h2>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>


<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="display-4">Study Buddy</h1>
    <p class="lead">This page is an about page about the study buddy project</p>
  </div>
</section>


<%= link_to 'Home', root_path%>
