<p>
PLACEHOLDER
</p>
<p>
PLACEHOLDER
</p>
<p>
PLACEHOLDER
</p>
<p>
PLACEHOLDER
</p>
<p>
PLACEHOLDER
</p>

<h1>New Tutoring Offering</h1>

<%= render 'form', offering: @offering %>

<%= link_to 'Back', root_path %>