<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active"
      style="background-image: url('https://www.sportsnet.ca/wp-content/uploads/2019/04/Luke-Walton-1040x572.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Walton</h2>
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item"
      style="background-image: url('https://images.newrepublic.com/a45682cb63e916b4b0fbcc82573f14a499d5a042.jpeg?w=1200&q=65&dpi=2.625&fm=pjpg&h=496')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Charlie</h2>
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
    <div class="carousel-item"
      style="background-image: url('https://static2.cbrimages.com/wordpress/wp-content/uploads/2018/12/death-note-L.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Micah</h2>
      </div>
    </div>
    <!-- Slide Four - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('https://i.imgur.com/sorr0C7.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Erick</h2>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Page Content -->
<section class="py-5 application_background_color">
  <div class="container">
    <h1 class="display-4">Study Buddy</h1>
    <p class="lead">Everyone knows the struggle of having to understand the material being taught in class, study for
      upcoming tests, projects, etc. The basic idea behind this service is to help student with their studies by:</p>

    <div class = "points">
      <li>offering a repository of notes, explanations, helpful diagrams, links to helpful tutorial Web pages, etc.
        organized by term course subject;</li>
      <li>offering a service that helps organize and manage study groups; and</li>
      <li>offering a service to hire individuals (Buddies) to provide such services as tutoring, homework assistance,
        taking lecture notes etc.<br><br>
      </li>
      <li>Create and promote a relevant, powerful homework help program that responds to the needs of and appeals to
        today’s youth using tools already popular such as technology, the internet, texting, and style they are famaliar
        with (reddit style dashboard);</li>
      <li>Tap into the skills, time and energy of the best and brightest students to help peer students paid or unpaid,
        while sharpening the skills of the next generation of working professionals.</li>
      <li>Establish a platform that allows students to find and book a tutor more easily and conveniently</li>
      <br>
      <br>
    </div>
    <p class="lead">For additional information, please <a
        href="mailto:zhihao.zhang@mail.utoronto.ca?subject=Mail from Study Buddy">Email Us</a> </p>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- Add font awesome icons -->

        <div id="icons">
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <span>   </span>
        <a href="https://www.google.ca" class="fa fa-google"></a>
        <span>   </span>
        <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
        <span>   </span>

        <a href="https://www.instagram.com" class="fa fa-instagram"></a>

        </div>

  </div>

</section>  


