<!-- Page Content -->
<section class="py-5 application_background_color">
  <div class="container">
    <h1 class="display-4">FAQ</h1>

    <p class="lead">How do I sign up?</p>
    <div class = "points">
        <li>Click on the sign up button at the top right corner, then confirm the email that gets sent to
        the email that you signed up with.</li>
        <br>
        <br>
    </div>

    <p class="lead">How do I find a course?</p>
    <div class = "points">
        <li>You can either search for a course code with the search bar on the home page or find the course
        in the course lists page. </li>
        <br>
        <br>
    </div>

    <p class="lead">Where do I find a tutor?</p>
    <div class = "points">
        <li>After you log in, go to the All Offerings page, which can be found at right side of the navigation
        bar at the top. There, you can search for tutoring session and book it. </li>
        <br>
        <br>
    </div>

    <p class="lead">How do I create a repository for a course?</p>
    <div class = "points">
        <li>You can create repository from a course page or by repos page, which can be access via 
        the navigation bar. </li>
        <br>
        <br>
    </div>

    <p class="lead">Where do I see all of the services that I have booked?</p>
    <div class = "points">
        <li>You can view all of your bookings by accessing Appointments page, which can be found
        on the right said of the navigation bar after you log in. </li>
        <br>
        <br>
    </div>
  </div>

</section>  


