<!-- Page Content -->
<section class="py-5 application_background_color contact_page">
  <div class="container contact_container">
    <h1 class="display-4">Site Map</h1>
    <p class="lead">The following image presents our application site map:</p>
    <%= image_tag ("lofi-Page-2.png"), :class => "default_image"%>


</section>  


