
	<div id="legal">
		

  <h2 class="ui-title-block">Terms of Use</h2>
  <div class="panel-group accordion accordion" id="accordion-1">
    
                        <p>1. Overview and Important Definitions</p>

<p>The StudyBuddy, the services provided in connection therewith (the Services) are owned, operated and maintained, as applicable, by The National Science and Education&nbsp;Partnership, a 501c(3) corporation (“we”, our or us). By (1) using or accessing the site or the Services; (2) downloading, accessing, installing or using the Software; or (3) paying for someone else to use or access the site or the Services or download, access, install or use the Software, you agree to the terms and conditions set forth below (Terms). If you do not agree with these Terms, neither you nor your designee or giftee may access, download, install, or use (as applicable), the site, the Services or the Software. For the purposes of this agreement, you means a parent or guardian as well as the student who accesses or uses the Services. If you are a parent, guardian, or other person who enables a child to access the Services, you agree to stand in the shoes of such child for the purposes of making us whole in case of damages or indemnification that could properly lie against a child, if not for his or her age.</p>

<p>We reserve the right to make changes to these Terms at any time. Any such modifications will become effective immediately upon posting to the site and your continued use of the site, Services and/or Software constitutes your agreement to such modifications. You agree to periodically review the current version of these Terms as posted on the site.</p>

<p>&nbsp;</p>

<p>2. Services</p>

<p>Through our Services, site and Software, we enable users to connect with (‘Tutors’) who provide live, one-to-one instruction, tutoring and learning services in our proprietary online classrooms (Tutoring Sessions). The Services include, without limitation, keeping track of users’ favorite Tutors, smart-matching users with the best available Tutors, facilitating and hosting Tutoring Sessions, and taking feedback from users.</p>

<p>As part of the Services, we require all Tutors to be confirmed by their teacher or school to be competent to teach the listed subjects and to have the exhibited the appropriate character of a tutor.&nbsp; We accept and are not responsible for their verification. The Services are currently available after school hours through the evening.</p>

<p>Teachers, once they have introduced their students to the Study Buddy Program, have no further responsibility but are invited to monitor their students usen and provide any feeddbach should they desire to do so.</p>

<p>&nbsp;</p>

<p>3. Privacy Policy</p>

<p>We are concerned about privacy and your privacy while accessing the site and using the Services. Please review our Privacy Policy on the site.</p>

<p>&nbsp;</p>

<p>4. Registration Obligations</p>

<p>To use the Services, you will need to register on the site and obtain an account, username and password. When you register, the information you provide to us during the registration process will help us in offering content, customer service, and network management. You are solely responsible for maintaining the confidentiality of your account(s), username(s) and password(s) and for all activities and liabilities associated with or occurring under your account(s), username(s) and password(s). You must notify us immediately of any unauthorized use of your account(s), username(s) or password(s) and any other breach of security, and (b) ensure that you exit from your account(s) at the end of each session. We cannot and will not be responsible for any loss or damage arising from your failure to comply with this requirement or as a result of use of your account(s), username(s) or password(s), either with or without your knowledge</p>

<p>You may not transfer your account(s), username(s) or password(s) to another person, and you may not use anyone else’s account(s), username(s) or password(s) at any time without the permission of the account holder.</p>

<p>In consideration of your use of the Services, you agree to (a) provide true, accurate, current and complete information about yourself as prompted by the Service’s registration form (such information being “Your Data”), (b) maintain and promptly update Your Data to keep it true, accurate, current and complete; and (c) comply with these Terms of Use. If you provide any information that is untrue, inaccurate, not current or incomplete, or if we believe that such information is untrue, inaccurate, not current or incomplete, we reserve the right to suspend or terminate your account(s) and refuse any and all current or future use of the Services, or any portion thereof.</p>

<p>If you reside outside the United States, your registration indicates your explicit consent that the personal information you have provided may be transferred and stored in countries outside your home country—including the United States. Your personal information shall only be used in accordance with our Privacy Policy.</p>

<p>&nbsp;</p>

<p>5. User Content</p>

<p>Any materials, information, communications or ideas that you upload, communicate or otherwise transmit or post to us, the site, the Tutors or the Services by any means (“User Content”) will be treated as non-confidential and non-proprietary, and may be disseminated or used by us for any purpose whatsoever, including, but not limited to, quality control and professional development, as well as our developing, manufacturing, and marketing our current and/or future Services. By uploading or otherwise making available any User Content, you automatically grant and/or warrant that the owner has granted to us the perpetual royalty-free, non-exclusive, world wide right and license to use, reproduce, modify, publish, distribute, perform, display, and transmit the User Content for any purpose, with the exception of academic source materials such as textbooks and workbooks, which you assert you are entitled to upload under the “fair use” doctrine of copyright law. In addition, if you request that our system display a representation of a page or problem from a textbook or workbook, you expressly warrant that you are in proper legal possession of such a textbook and that your instruction to our system to display a page or problem from your textbook is made for the sole purpose of facilitating your tutoring session, as a classic example of “fair use” under copyright law.</p>

<p>You agree that we may record all or any part of any Tutoring Sessions (including voice chat communications) for quality control and other purposes. We reserve the right to review the Tutoring Sessions for any purpose. Notwithstanding anything to the contrary above, you agree that we own all transcripts and recordings of Tutoring Sessions and all comments that you may provide to us on or through the site, the Services or any other means, such as&nbsp; a part of user satisfaction or other similar surveys, and that these Terms shall be deemed an irrevocable assignment of all such transcripts and comments, each portion thereof and all intellectual property rights therein to us.</p>

<p>&nbsp;</p>

<p>6. Copyright</p>

<p>You acknowledge that the Software, the technology underlying the Services, and all other software, designs, materials, information, communications, text, graphics, links, electronic art, animations, illustrations, artwork, audio clips, video clips, photos, images, and other data or copyrightable materials, including the selection and arrangements thereof, provided or made available to you in connection with the site, the Software or the Services (collectively, the “Company Content”) are the proprietary works of us and/or our affiliated and/or third party providers and suppliers (Third Parties) and are protected, without limitation, pursuant to U.S. and foreign copyright laws. Except as expressly authorized by us or in these Terms, you may not copy, reproduce, publish, perform, distribute, disseminate, broadcast, circulate, modify, create derivative works of, rent, lease, sell, assign, sublicense, otherwise transfer, display, transmit, compile or collect in a database, or in any manner commercially exploit the site, Company Content or the Services, in whole or in part. You will not, in any manner, without our prior written approval, decompile, disassemble, reverse engineer, reverse assemble or otherwise attempt to discover any source code of, the Software or any other Company Content, the site or the Services.</p>

<p>You may download and print a reasonable number of copies of documentation provided or available in connection with the Company Content for noncommercial personal or educational use only and we grant you a limited, non-perpetual, revocable, nontransferable, non-assignable, non-exclusive, royalty-free license to access and utilize the Services, the Software and the other Company Content for noncommercial personal or educational purposes while these Terms are in full force and effect; provided that (i) any permitted copies of documentation provided or available in connection with the Company Content contain, in an unmodified form, (a) all language designations contained in the materials originally provided to you by us indicating the confidential nature thereof and (b) all copyright or other proprietary rights notices contained in the materials originally provided to you by us and an original source attribution to us and/or the applicable Third Parties; and (ii) you will not modify of any of the Company Content except as approved by us in advance in writing. You acknowledge that we and/or Third Parties, as applicable, hold all right, title and interest in and to all tangible and intangible aspects of the Company Content, the site and the Services, including without limitation, all patents, copyrights and trade secrets pertaining thereto, and that, except for the limited rights set forth above, you do not acquire any intellectual property right or license in any of the foregoing by downloading or printing the Company Content or otherwise, including without limitation, by accessing or using the site, the Company Content or the Services. The rights granted to you herein are revocable by us in accordance with these Terms.</p>

<p>&nbsp;</p>

<p>7. Confidential Information</p>

<p>&nbsp;</p>

<p>If there is any confidential furnished you, we will clearly identify it as such and expect you to maintain that confidentiality.</p>

<p>&nbsp;</p>

<p>8. Links</p>

<p>The site or the Services may provide links to non Study Buddy sites.&nbsp; This may include Tutors sending links to Third Party Sites and/or causing Third Party Sites (such as study resources or online education pages) to pop-up for your review. Because we have no control over Third Party Sites, you acknowledge and agree that we are not responsible for the availability of Third Party Sites, and do not endorse and are not responsible or liable for any content, advertising, products, services or other materials on or available from Third Party Sites. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, advertising, products, services or other materials available on or through any Third Party Sites or for any mistakes, defamation, libel, slander, omissions, falsehoods, obscenity, pornography, or profanity contained therein.</p>

<p>&nbsp;</p>

<p>9. Conduct, Fraud, and Consequences of Fraud</p>

<p>You may only access the site and use the Company Content and the Services for lawful purposes. You shall not upload to, distribute through, or otherwise publish through the site or the Services any content that you do not have the right to transmit or that is libelous, defamatory, obscene, pornographic, threatening, invasive of privacy or publicity rights, abusive, illegal, otherwise objectionable, or that could constitute or encourage a criminal offense, violate the rights of any party, or otherwise give rise to liability or violate any law. You agree that you will not in any way: (i) interfere with the ability of others to access or use the Services; (ii) disrupt the normal flow of communication or otherwise act in a manner that negatively affects other users’ ability to use the site or the Services; (iii) claim a relationship with or to speak for any individual, business, association, institution, or other organization for which you are not authorized to claim such a relationship; or (vi) interfere with or disrupt the Services or servers or networks connected to the Services, or disobey any requirements, procedures, policies, or regulations of networks connected to the Services. You agree that you will treat the tutors with respect and not use obscenities in the classroom, make threats, or discuss matters other than those directly related to the academic subject for which you seek help.<br>
You acknowledge that we may screen User Content, and that we shall have the right (but not the obligation), in our sole discretion, to remove any User Content, including terminating tutoring sessions. Without limiting the foregoing, we have the right to remove any User Content that violates these Terms or is otherwise objectionable. You agree and acknowledge that we may preserve User Content and may disclose User Content if required to do so by law or in the good faith belief that any such preservation or disclosure is reasonably necessary to comply with legal process, enforce these Terms, respond to claims that any User Content violates the rights of third parties or protect our rights, property or personal safety or that of our users and the public.</p>

<p>Examples of improper access include (but are not limited to) using any means to circumvent our registration, hacking our system in any way, using the system when you have been notified that your permission to use the service has been revoked, sharing your account information or anyone else’s account information with a third party (regardless of whether the particular third party can be identified), logging yourself or a third party in simultaneously, using a third party’s account, or failing to log yourself out after a session and (regardless of intention) thereby allowing others to access your account</p>

<p>&nbsp;</p>

<p>10. Disclaimer of Warranty; Limitations</p>

<p>The company content, the site, the services and each portion thereof are provided “as is” without warranties of any kind either expressed or implied.&nbsp; To the fullest extent possible pursuant to applicable law, we disclaim all warranties, expressed or implied, with respect to the site, the company content, the services and each portion thereof, including but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or other violation of rights.&nbsp; We do not warrant or make any representations regarding the use, validity, accuracy, or reliability of, or the results of the use of, or otherwise respecting, the company content, the site, the services, each portion thereof or any third party sites.</p>

<p>Under no circumstances, including, but not limited to, negligence, shall we or third parties be liable for any direct, indirect, special, incidental, or consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the company content, the site, the services or any portion thereof, even if we or our authorized representative has been advised of the possibility of such damages.&nbsp; If your use of the site, the company content, the services or any portion thereof results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof.&nbsp; Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you.&nbsp; Neither we, nor third parties warrant the accuracy or completeness of the information, text, graphics, links or other items contained in the company content, the site, the services or any portion thereof or in any reports of verification services.&nbsp; You agree not to hold us (or our agents, employees or tutors) liable for any instruction, advice or services delivered which originated through the site, through any verification service or in connection with the company content, the services or any portion thereof.</p>

<p>&nbsp;</p>

<p>11. Indemnification</p>

<p>&nbsp;</p>

<p>You agree to indemnify, defend and hold harmless us, and our affiliates, officers, directors, agents, partners, employees, licensors, representatives and third party providers (including our affiliates’ respective officers, directors, agents, partners, employees, licensors, representatives, and third party providers), from and against all losses, expenses, damages, costs, claims and demands, including reasonable attorney’s fees and related costs and expenses, due to or arising out of any User Content you submit, post to, email, or otherwise transmit to us or through the Services, your use of the Services, the Company Content or any portion thereof, your connection to the Services, or your breach of these Terms. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and in such case, you agree to fully cooperate with such defense and in asserting any available defenses.</p>

<p>&nbsp;</p>

<p>12. Trademark Notice</p>

<p>&nbsp;</p>

<p>The trademarks, service marks, and logos (the “Trademarks”) used and displayed on the site or in any Company Content are registered and unregistered Trademarks of us and others and are protected, without limitation, pursuant to U.S. and foreign trademark laws. Nothing on the site, the Services or otherwise should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any Trademark displayed on the site or in connection with the Services, Company Content or Software, without the written permission of the applicable Trademark owner. We aggressively enforce our intellectual property rights to the fullest extent of the law. You may not use the Trademarks, either ours or others, in any way without the prior written permission of the applicable Trademark owner. We prohibit use of our logo as a “hot” link to any other World Wide Web site unless approved by us in advance in writing.</p>

<p>&nbsp;</p>

<p>13. Copyrights and Copyright Agents</p>

<p>&nbsp;</p>

<p>We respect the intellectual property of others, and we ask our users to do the same. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide us a notice with the following information: a) an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest; b) a description of the copyrighted work or other intellectual property that you claim has been infringed; c) a description of where the material that you claim is infringing is located on the site; d) your address, telephone number, and email address; e) a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and f) a statement by you, made under penalty of perjury, that the above information in your notice to us is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner’s behalf.</p>

<p>&nbsp;</p>

<p>14. Local Laws; Export Control</p>

<p>&nbsp;</p>

<p>Recognizing the global nature of the Internet, you agree to comply with all local rules including, without limitation, rules about the Internet, data or privacy. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside. In addition, if you reside in a country which is prohibited by law, regulation, treaty or administrative act from entering into trade relations with the United States or its citizens, you may not use this Site. Such countries may include Cuba, Iran, Iraq, North Korea, Serbia, Syria and Sudan, and it is your responsibility to ensure that you comply with U.S. law in this regard.</p>

<p>&nbsp;</p>

<p>15. Modifications to the Service</p>

<p>We may add, change or eliminate features, nomenclature and other aspects of the Services and make other changes at any time and these Terms will continue to apply to the Services as modified. We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the site or the Services (or any part thereof) with or without notice. You agree that we will not be liable to you or to any third party for any such modification, suspension, or discontinuance of the site or the Services.</p>

<p>&nbsp;</p>

<p>16. Termination</p>

<p>&nbsp;</p>

<p>We may terminate these Terms by providing the other with notice of such termination, which shall be effective immediately upon delivery of such notice to the other party. We may terminate these Terms immediately without notice for any breach by you of these Terms or any of our applicable policies, as posted on the site from time to time. Furthermore, we may terminate these Terms without notice to you by terminating your rights to use the site or the Services for any reason or no reason. In the event of termination or expiration of these Terms, the following sections of these Terms shall survive: all provisions regarding ownership of intellectual property, indemnification, disclaimer of warranties and limitations of liability, Consequences of Improper Conduct, Fraud or Abuse, the provisions of this section which, by their nature apply after termination, and the General provisions below. You agree that upon the termination of these Terms, we may delete all information related to you on the Services and may bar your access to the site and use of the Services.</p>

<p>&nbsp;</p>

<p>17. General</p>

<p>&nbsp;</p>

<p>These Terms and any policies applicable to you posted on the site constitute the entire agreement between the parties with respect to the subject matter hereof, and supersede all previous written or oral agreements between the parties with respect to such subject matter. All rights not expressly granted herein are expressly reserved. These Terms shall inure to our benefit and to the benefit of our agents, licensors, licensees, successors, and assigns. If any provision of these Terms is found to be illegal or unenforceable, these Terms will be deemed curtailed to the extent necessary to make the Terms legal and enforceable and will remain, as modified, in full force and effect. These Terms and all matters or issues collateral thereto will be governed by, construed and enforced in accordance with the laws of the State of Virginia applicable to contracts executed and performed entirely therein (without regard to any principles of conflict of laws), and jurisdiction for any court action in the State of Virginia. Any notice or other communication to be given hereunder will be in writing and given by facsimile, postpaid registered or certified mail return receipt requested, or electronic mail. Nothing in these Terms shall be construed as making either party the partner, joint venture, agent, legal representative, employer, contractor or employee of the other. Neither party shall have, or hold itself out to any third party as having, any authority to make any statements, representations or commitments of any kind, or to take any action that shall be binding on the other except as provided for herein or authorized in writing by the party to be bound.</p>

<p>&nbsp;</p>

<p>18. Satisfaction Guarantee</p>

<p>&nbsp;</p>

<p>While we hope that you will be completely satisfied with our Service, we know that occasionally you may have an unsatisfactory experience.&nbsp; If you do have an unsatisfactory session, please let us know about your experience so that we may investigate and hopefully improve our service. Please remember that our tutors will not give answers to questions! They will only help you understand how you can solve problems for yourself.</p>

<p>&nbsp;</p>

<p>19. Governing Law, Personal Jurisdiction, and Venue</p>

<p>&nbsp;</p>

<p>The laws of the State of Virginia will govern these Terms of Use, as well as any claim that might arise between you and us, without regard to any conflict of law provisions. For the purpose of litigating all such claims, you agree to submit to the personal jurisdiction, and that venue is proper in any court located in Virginia.</p>
  
  </div><!-- end accordion -->

</div>


