/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.center_align_horizontal{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.text_algin_center{
  text-align: center;
}

.logo_signup_size{
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
}

.signup_background{
  background-color: #f7f7f7;
}

.signup_left{
  width: 49%;
  // display:inline-block;
}

.signup_right{
  display: inline-block;
  width: 50%;
  min-height: 100vh;
  // padding: 173px 55px 55px 55px;
}

.signup_image{
  align: left;
  width: inherit;
  height: 100%;
}

.signup_box{
  padding: 0px 55px 55px 55px;
}

