/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * Do not remove the 2 following lines. They are not comments and required to add the style of the scss files in this folder.
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center_align_horizontal{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.text_algin_center{
  text-align: center;
}

.logo_signup_size{
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
}

.application_background_color{
  background-color: #f7f7f7;
}