@mixin application_font{
    // font-family: Poppins;
}

.signup{
    margin-top: 16px;
    background: #f8f8f8;
    padding: 115px 0;
  }
  
.signup .signup_container{
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
    display: flex;
    display: -webkit-flex;
}

.signup .signup_form{
    padding: 50px 0;
    width: 60%;
    overflow: hidden;
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px; 
}

.signup .signup_image{
    padding: 75px 0;
    width: 50%;
    overflow: hidden; 
    margin: 0 55px;
    margin-top: 45px;
}

.signup .signup_title{
    margin-bottom: 33px;
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 36px;
}

.signup .signup_field_margin{
    margin: 10px 0px 10px;
}

.signup .signup_field{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 0px;
    box-sizing: border-box; 
    @include application_font;
}

.signup .signup_button{
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 8px 35px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 5px;
    cursor: pointer; 
}

.signup .signup_first_name_field{
    float: left;
    width: 40%;
}

.signup .signup_last_name_field{
    width: 55%;
}
  
.signup .signup_button:hover {
    background: #4292dc; 
}

.signup .signup_error_messages {
    color: red;
}