// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
    border-bottom: 1px solid #ddd;
  }

#courses{
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 20px;
    border-collapse:separate;
    border-spacing:0 2em;
}

#search_bar_course{
    width: 50%;
    position: relative;
    left: 25%;
  }

#input_course{
    width: 90%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
#submit_course{
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.course_page {
    background: #f8f8f8;
    margin: auto;
}

.course_page_lower_container {
    margin-top: 15px;
    background: #f8f8f8;
    margin: 0 20%;
}

.course_page .course_container{
    padding: 10px 15px;
    width: 65%;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
}

.course_page .course_right_sub_container{
    width: 100%;
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
    margin-bottom: 15px;
}

.course_page .course_right_info_container{
    padding: 10px 15px;
}

.course_page .course_post{
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
}
.course_header{
    width: 100%;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
}

.course_page .post_header{
    width: 100%;
    background: #fff;
    margin: 0 auto;
}

.course_page .line_break{
    height: 1px;
    width: 100%;
    background: grey;
}

.course_page .course_page_right_container{
    display: inline-block;
    width: 35%;
}

.course_page .course_page_left_container{
    float: left;
    width: 65%;
    padding: 0px 15px;
}


.course_header .default_header_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width:100%;
    height: 300px;
}

.course_page .course_page_container{
    padding: 10px 15px;
    margin: auto;
    margin-top: 15px;
}

.course_header .course_title{
    margin-left: 10%;
    display: inline-block;
}

.course_page .create_first_post_link{
    color: #6dabe4;
}


.course_page .create_first_post_title{
    text-align: center;
}

.course_page .post_link{
    color: black
}

.course_page .back_button_container{
    margin: auto;
}

.course_page .button_to{
    display: block;
}

.course_page .create_post_repo_button_container{
    margin-bottom: 10px;
}

.course_page .create_post_repo_button{
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: 100%;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
    cursor: pointer;
}

.course_page .button{
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: 100%;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-bottom-left-radius: 5px;
    -o-bottom-left-radius: 5px;
    -ms-bottom-left-radius: 5px;

    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-bottom-right-radius: 5px;
    -o-bottom-right-radius: 5px;
    -ms-bottom-right-radius: 5px;
    cursor: pointer;
}

