// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-form .form-control{
    border-radius:1rem;
}

.post-form form{
    padding: 14%;
}

.btnSubmit {
    border-radius: 1rem;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    float: right;
}


#pdf{
    top: 5%;
    width: 100%;
    position: absolute;
    background-color: white;
    padding: 5px;
    padding: 30px 30px;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
}