// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-form .form-control{
    border-radius:1rem;
}

.post-form form{
    padding: 14%;
}

.btnSubmit {
    border-radius: 1rem;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    float: right;
}


