#map {
    width: 600px;
    height: 400px;
}

th, td {
    border-bottom: 1px solid #ddd;
  }

#offering{
    top: 10%;
    width: 60%;
    position: absolute;
    left: 20%;
    background-color: white;
    padding: 5px;
}

#submit{
    position: absolute;
    left: 88%;
}

#my_offering{
    width: 100%;

}

#my_booking{
    width: 100%;
}

.tables-container{
    top: 10%;
    width: 100%;
    position: absolute;
}

.table-container{
    width: 60%;
    position: relative;
    left: 20%;
    background-color: white;
    padding: 5px;
}