#map {
    width: 600px;
    height: 400px;
}

th, td {
    border-bottom: 1px solid #ddd;
  }

#offering{
    top: 10%;
    width: 90%;
    position: absolute;
    left: 5%;
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 2em;
}

#submit{
    float: right;
}

#delete{
    float: right;
}

#my_offering{
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 2em;

}

#my_booking{
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 2em;
}

.tables-container{
    top: 10%;
    width: 100%;
    position: absolute;
}

.table-container{
    width: 90%;
    position: relative;
    left: 5%;
    background-color: white;
    padding: 5px;
}