// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_bar_home {
  width: 60%;
  position: fixed;
  top: 50%;
  left: 20%;
  margin-top: -50px;
}

#input_home{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit_home {
  width: 110px;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: calc(50% - 135px);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #6dabe4;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; 
  cursor: pointer;
}

.home_page .button{
  width: 110px;
  padding: 14px 20px;
  margin: 8px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #6dabe4;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; 
  cursor: pointer;
}

.logo{
position: fixed;
top: 25%;
left: 42%;
margin-top: -50px;
width: 500;
height: 600;
}