// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_bar_home {
  width: 60%;
  position: fixed;
  top: 50%;
  left: 20%;
  margin-top: -50px;
}

#input_home{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit_home {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logo{
position: fixed;
top: 30%;
left: 45%;
margin-top: -50px;
width: 500;
height: 600;
}