// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#post{
    top: 10%;
    width: 60%;
    position: absolute;
    left: 20%;
    background-color: white;
    padding: 20px;
}

#post_body{
    position: relative;
    border-bottom: 1px solid #ddd; 
    margin: 0 0 20px 0;
}

.write_comment_container{
    width: 100%;
    margin: 10px 0;
    margin-right: 20px;
    height: 30px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
}

.write_comment_container .write_comment{
    width: 40%;
    display: inline-block;
    margin-left: 20px
}

.write_comment_container .login_button_form{
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.write_comment_container .login_button{
    width: 100px;
}

#post .button{
    background: #6dabe4;
    color: #fff;
    border: none;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; 
    border-bottom: none;
    cursor: pointer;
}

#post .post_button{
    float: right;
    margin-right: 10px;
}
#post .edit_delete_container{
    width:100%;
    display: inline-block;
}

#post .create_post_container{
    width:100%;
    display: inline-block;
}

.post_comment{
    position: relative;
}

.comment{
    margin-top: 5px;
    padding-top: 10px;
    background: #0000;;
    border-bottom: 1px solid #ddd; 
  }

.comment .comment_container{
    padding: 30px 0;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
    border: 1px double #ccc;
}

.comment .post_links{
    color: #6dabe4;
}

.comment .user_name_container{
    border-bottom: 2px solid #ddd; 
}

.comment .comment_upper_container{
    background: #fff;
}
.post-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.post-form .form-control{
    border-radius:1rem;
}
.post-image{
    text-align: center;
}
.post-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.post-form form{
    padding: 14%;
}
.post-form form .row{
    margin-bottom: -7%;
}
.post-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.post-form .btnContact {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    float: right;
}

.post-form .btnBack {
    width: 30%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    float: left;
}
