// Place all the styles related to the Repos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
    border-bottom: 1px solid #ddd;
  }
.container1{
    top: 10%;
    width: 100%;
    position: absolute;
}

#repo{

    width: 70%;
    position: relative;
    left: 15%;
    background-color: white;
    padding: 5px;
}

#upload{
    width: 70%;
    position: relative;
    left: 15%;
    background-color: white;
    padding: 5px;
}
#repo_body{
    position: relative;
    border-bottom: 1px solid #ddd;
    margin: 0 0 20px 0;
}
#search_bar_repo{
    width: 50%;
    position: relative;
    left: 25%;
  }

#repos{
    width: 70%;
    position: relative;
    left: 15%;
    margin-top: 20px;
    border-collapse:separate;
    border-spacing:0 2em;
}

#input_repo{
    width: 90%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit_repo{
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.repos-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.repos-form .form-control{
    border-radius:1rem;
}
.repos-image{
    text-align: center;
}
.repos-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.repos-form form{
    padding: 14%;
}
.repos-form form .row{
    margin-bottom: -7%;
}
.repos-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.repos-form .btnContact {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    float: right;
}

.repos-form .btnBack {
    width: 30%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    float: left;
}

.repo_page {
    background: #f8f8f8;
    margin: auto;
}

.repo_page_lower_container {
    margin-top: 15px;
    background: #f8f8f8;
    margin: 0 20%;
}

.repo_page .repo_page_right_container{
    width: 18%;
    top: 10%;
    left: 81.5%;
    position: absolute;

}

.repo_page .repo_right_sub_container{
    width: 100%;
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; 
    margin-bottom: 15px;
    padding: 10px;
}

.repo_page .repo_right_info_container{
    padding: 10px 15px;
}