<!DOCTYPE html>
<html>
  <body>
    <h1>Study Buddy - Booking confirmation!</h1>
    <p>
      Hi <%= @user.user_name %>,<br>
      Your tutoring offer for class <%= @offering.class%> has been booked.
    </p>
    <p>
      To view the list of offering, please click on this link: <%= @url %>.
    </p>
    <p>Thank you for using our application!</p>
  </body>
</html>